<!DOCTYPE html>
<html lang="en">
   

<%- include('./pieces/head.ejs') %>

    <body>


        <!-- the header section -->

        <div class="header">

            <h1>SCOLAR ACA<b style="color:rgb(20, 240, 20);">DEMY.COM</b></h1>

            <!-- login -->

            <div class="login">
                <a href="/login" id="login">LOGIN</a>
                <a href="/register" id="register">Register</a>
            </div>


            <!--end of login section -->

            <!-- the navigation section -->
            <div class="home1">
                <a href="/info/about">ABOUT US </a>
            <a href="/info/contact">CONTACT US</a>
            <a href="/info/help">HELP DESK</a>
            </div>
            <!-- end of navigation -->
        </div>

        <!-- end of header section -->

        <hr>


        <div class="section">

            <center>

                <!--animatiom div in home page-->
               
                
                

                <div class="quote">
                    <p> Our mission is to dedicate ourself to outstanding programming<br> that empowers our client to excel in their markets <br> , make meaningful conventions with their audiences and improve their productivity</p>
                    <p>Explore More with Scholar Academy Which other couldn't. <br> <b style="color: rgb(55, 241, 55); margin: 5px;">GET Brilliant Solution's</b></p>
                    <p>Take your skills to the next level.</p>
                    <a href="/login" id="explore">EXPLORE NOW</a>
                </div>

                <!--promo courses section-->

                <div id="pool">
                    <h1>Enroll To Our Courses</h1>
                    <div id="programs">
                        <div id="pro">
                            <h3>Python</h3>
                            <div class="logo">
                                <%- include('./logo/python.ejs') %>
                            </div>
                            <br>
                            <a href="/login">Enroll Now </a></div>
                        <div id="pro">
                            <h3>Java</h3>
                            <div class="logo">
                                <%- include('./logo/java.ejs') %>
                            </div>
                            <br>
                            <a href="/login">Enroll Now </a></div>
                        <div id="pro">
                            <h3>CSS 3</h3>
                            <div class="logo">
                                <%- include('./logo/css.ejs') %>
                            </div>
                            <br>
                            <a href="/login">Enroll Now </a></div>
                        <div id="pro">
                            <h3>HTML5</h3>
                            <div class="logo">
                                <%- include('./logo/html.ejs') %>
                            </div>
                            <br>
                            <a href="/login">Enroll Now </a></div>
                        <div id="pro">
                            <h3>Kotlin</h3>
                            
                                <br>
                                <a href="/login">Enroll Now </a></div>
                        <div id="pro">
                            <h3>C++</h3>
                            <div class="logo">
                                <%- include('./logo/cpp.ejs') %>
                            </div>
                            <br>
                            <a href="/login">Enroll Now </a></div>
                        <div id="pro">
                            <h3>JavaScript</h3>
                            <div class="logo">
                                <%- include('./logo/js.ejs') %>
                            </div>
                            <br>
                            <a href="/login">Enroll Now </a></div>
                        <div id="pro">
                            <h3>JQuery</h3>
                            <%- include('./logo/JQuery.ejs') %>
                                <br>
                                <a href="/login">Enroll Now </a></div>
                        <div id="pro">
                            <h3>Node Js</h3>
                            <div class="logo">
                                <%- include('./logo/nodejs.ejs') %>
                            </div>
                            <br>
                            <a href="/login">Enroll Now </a></div>
                        <div id="pro">

                            <h3>SQL</h3>
                            <%- include('./logo/mySql.ejs')%>
                                <br>
                                <a href="/login">Enroll Now </a> </div>
                        <div id="pro">
                            <h3>Php</h3>
                            <%- include('./logo/php.ejs') %>
                                <br>
                                <a href="/login">Enroll Now </a></div>
                    </div>
                </div>
          


            </center>
        </div>

        <!--the footer section-->

        <footer>
            <div class="footer">
             <div class="contact-us">
               <h3>CONTACT US:</h3>
               <h5>
                <h5>
                    <a href="#"><%- include('./logo/phone.ejs') %> phone Call+2547777777</a></
                     </h5>
                     <h5>
                        <a href="#"><%- include('./logo/mail.ejs') %> Email scholaracademy@gmail.com</a></
                         </h5>
             </div>
             <div class="about-us">
                <h3>ABOUT US:</h3>
                
                  <button class="collapsible">Our Service</button>
                  <div class="content">
                    <p> Scholar was founded by five comrades with one goal in mind: to help people get online without technical skills and be able to acquire knowledge with the provided online resources . Our team is passionate about our purpose, and obsessed with innovation. From the engineers who write the code, to the support team that's here to help you use it, everybody knows what we're here to do - and we have a lot of fun doing it.</p>
                  </div>
                  
                  <button class="collapsible">Our Products</button>
                  <div class="content">
                    <p>Scholar makes learning simple. Whether you need to get online,and start learning any time, or you want a reference we got you, our online learning platform can help you reach your goals.  Our features are powerful yet easy to use, so they're a great choice for personal users and non-profits too.
                    </p>
                  </div>
                    
             
             </div>
             <div class="follow-us">
               <h4>Follow Us:</h4>
               
               <h5>
                <a href="#"><%- include('./logo/facebook.ejs') %> Facebook</a></h5> 
                 <h5>
                    <a href="#"><%- include('./logo/twitter.ejs') %> Twitter</a></h5> 
               <h5>
                <a href="#"><%- include('./logo/telegram.ejs') %> Telegram</a></h5> 
               <h5>
                <a href="#"><%- include('./logo/youtube.ejs') %> Youtube</a></h5> 
                
             </div>
            </div>
          
          <hr>
          <center>
           <p id="copy">&copy Copyright 2021. ALL RIGHTS RESERVED</p>
          </center>
          </footer>
          <script>
            var coll = document.getElementsByClassName("collapsible");
          var i;
          
          for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var content = this.nextElementSibling;
              if (content.style.maxHeight){
                content.style.maxHeight = null;
              } else {
                content.style.maxHeight = content.scrollHeight + "px";
              } 
            });
             
          }
       
          </script>
    </body>

</html>